/*{
    margin: 0;
    padding: 0;
}*/

/*.nav-link{
    margin-top: 10px;
}
*/

.homeText{
    font-size: 14pt;
    text-align: center;
    top: 47%;
    transform: translateY(-50%);
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-weight: 400;
}

.homeText h1{
    font-size: 60px;
    color: rgba(245, 12, 12, 0.856);
    padding-left: 20px;

}


.homeText p{
padding-top: 20px;
padding-left: 10px;
    font-size: 20px;
    font-kerning: inherit;
    font-weight: 500;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color:rgb(8, 4, 245)

}

.home-btn{

    display: inline-block;
    text-decoration: none;
    color: rgb(219, 47, 47);
    border: 1px solid rgb(202, 60, 60);
    padding-top: 20px;
    padding:  8px;
    font-size: 13px;
    background: rgb(191, 195, 218);
    position: relative;
    cursor: pointer;

}

.home-btn :hover{
    border: 1px solid #e6766e;
    background: rgb(255, 99, 71);
    transition: 1s;

}

@media(max-width: 700px)
{
    .homeText h1{
        font-size: 30px;
       /* margin-top: 1%;*/
    }

    .homeText p{
                 font-size: 10px;
                 padding-top: 10px;
                 padding-left: 13px;
    }

    .home-btn{
        padding: 6px;
        font-size: 9px;
    }

}

/*------Service Section--------------*/

.textService{
    text-align: center;
    color: #e4fc08;
    
    
}
